.avatar-escolhas {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.avatar-opcao {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-bolinha {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #00ff00;
  object-fit: cover;
  margin-bottom: 0.5rem;
  box-shadow: 0 0 10px #00ff00;
}

.avatar-opcao button {
  background: transparent;
  border: 1px solid #00ff00;
  color: #00ff00;
  padding: 6px 14px;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 5px #00ff00;
  transition: 0.3s;
}

.avatar-opcao button:hover {
  background-color: #00ff00;
  color: black;
}

